<% layout('./layout/boilerplate') %> 
<link rel="stylesheet" href="/css/dashboard.css">

<section class="vh-100" style="background-color: #508bfc;">
<div class="container-fluid py-1 h-100">


    <div class="row d-flex justify-content-center align-items-start h-50">

        <div class="col-3 h-100">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body px-5 py-4 text-center">
                <h3>Login Log</h3>
                </div>
            </div>
        </div>

        <div class="col-3 h-100 flex-grow-1">
            <div class="card shadow-2-strong h-md-100" style="border-radius: 1rem;">
                <div class="card-body px-5 py-4 text-center">
                    <h3>All Users</h3>
                    <div id="Allusers" class="text-start">
                        
                    </div>
                </div>
            </div>
        </div>


        <div class="col-3 h-100">
            <div class="card shadow-2-strong h-md-100" style="border-radius: 1rem;">
                <div class="card-body px-5 py-4 text-center">
                    <h3>Frequently Visited</h3>
                    <canvas id="myChart" class="h-85 w-100"></canvas>
                </div>
            </div>
        </div>
    </div>


    <div class="row d-flex justify-content-center align-items-start h-50">

        <div class="col-4 h-100 ">
            <div class="card shadow-2-strong h-md-100" style="border-radius: 1rem;">
                <div class="card-body px-5 py-4 text-center">
                <h3>Active users</h3>
                </div>
            </div>
        </div>

        <div class="col-8 h-100">
            <div class="card shadow-2-strong h-md-100" style="border-radius: 1rem;">
                <div class="card-body px-5 py-4 text-center">
                    <h3>Travel history</h3>
                </div>
            </div>
        </div>

    </div>


</div>
</section>
