#map {
    position: absolute;
    top: 3.5rem;
    bottom: 0;
    height: 100%;
    width: 100%;
}

#instructions {
    width: 100%;
    height:fit-content;
    top: 0;
    padding: 20px;
    margin-bottom: 2rem;
    background-color: #ffffffce;
    font-family: sans-serif;
    border-radius: 2rem;
}

body{
    background-color: black;
}

.container{
    width:30%;
    position:absolute;
    top:100px;
    left:100px;
    z-index: 999;
}

.btn{
    border-radius: 5rem !important;
    opacity: 0.95;
}